<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if image_name1 %}
    <li>
        <img src="../static/images/{{ image_name1 }}" alt="">
    </li>
    <li>
        <img src="../static/images/{{ image_name2 }}" alt="">
    </li>
    <li>
        <img src="../static/images/{{ image_name3 }}" alt="">
    </li>
    {% endif %}
</body>

</html>